<div class="carousel-container">
    <button mat-icon-button (click)="prevSlide()" class="nav-button prev">
      <mat-icon aria-hidden="false" aria-label="Left" fontIcon="chevron_left"></mat-icon>
    </button>
    
    <!-- <div class="carousel" 
         (mousedown)="startDrag($event)"
         (mousemove)="onDrag($event)"
         (mouseup)="endDrag()"
         (mouseleave)="endDrag()"> -->
    <div class="carousel">
      <div class="slides" [style.transform]="'translateX(' + currentPosition + 'px)'">
        <mat-card *ngFor="let card of cards; let i = index" 
                 class="carousel-card"
                 [class.active]="i === activeIndex"
                 [class.prev]="i === activeIndex - 1"
                 [class.next]="i === activeIndex + 1">
          <ng-container *ngComponentOutlet="card.component"></ng-container>
        </mat-card>
      </div>
    </div>
    
    <button mat-icon-button (click)="nextSlide()" class="nav-button next">
      <mat-icon aria-hidden="false" aria-label="Right" fontIcon="chevron_right"></mat-icon>
    </button>
</div>