
@use '@angular/material' as mat;

@include mat.core();

$custom-palette: (
  50: #7cd5fb,    // Lightest
  100: #5ac3f0,
  200: #2eb1e9,
  300: #0f9bd7,
  400: #0285bc,
  500: #017baf,    // ⭐️ Main/default color (500)
  600: #026a97,
  700: #014f71,
  800: #003a53,
  900: #00212e,    // Darkest
  contrast: (      // Text contrast colors
    50: #ffffff,
    100: #f3f7fb,
    200: #f4f7fa,
    300: #ebf1f5,
    400: #eef6fd,
    500: #e8f4ff,    // ⭐️ Contrast for main color
    600: #ddecfb,
    700: #deeefc,
    800: #daecfc,
    900: #d2e9ff
  )
);

$frontend-primary: mat.define-palette($custom-palette, 500);
$frontend-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #fff2f5, #e8f4ff);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
